.footer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-top: 1px solid #99919182;
}
.footer > p{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text);
}
.footer > .links{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.links > a{
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text);
    transition: 0.3s;
}